<launch>
<!--    <env name="robot_model" value="$(optenv TURTLEBOT3_MODEL burger)"/>-->
    <include file="$(find turtlebot3_fake)/launch/turtlebot3_fake.launch">
        <env name="TURTLEBOT3_MODEL" value="burger"/>
    </include>
    <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch">
        <env name="TURTLEBOT3_MODEL" value="burger"/>
    </include>
</launch>